<h1 style="text-align: center">To Do List</h1>

<hr />

<div style="text-align: center">
  <input type="text" [(ngModel)]="todoitem" />
</div>

<hr />

<div style="text-align: center">
  <button class="btn btn-success" (click)="onAdd()">Add a new To Do</button>
</div>

<hr />

<ul class="list-group">
  <li
    class="list-group-item"
    *ngFor="let item of todoarray; let i = index"
    style="text-align: center"
  >
    <button class="btn-danger" (click)="onDelete(item.id)">Delete</button>
    <br>
    <button class="btn-success" (click)="onEdit(i)">Edit</button>
    <div>
      <p *ngIf="!showInput" (click)="onEdit(i)">{{ item.task }}</p>
      <!-- show an input element ngif showInput
        and show the input element on the array item that has a matching index -->
      <input *ngIf="showInput && selectedIndex === i">
    </div>
  </li>

</ul>

<!-- [{toditem: "test"}, "tea"]
[{toditem: "test"}, {todoitem: 'tea'}] -->
