<nav class="navbar navbar-dark bg-dark navbar-expand-lg mb-4">
  <a class="navbar-brand brand" id="brand" routerLink="/tasks">To Do List</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarToggler"
    aria-label="Toggle navigation"
    aria-controls="navbarToggler"
    aria-expanded="false"
    (click)="collapsed = !collapsed"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="collapse navbar-collapse"
    id="navbarToggler"
    [class.collapse]="collapsed"
    (window:resize)="collapsed = true"
  >
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item" *ngIf="isAuthenticated">
        <a class="nav-link" routerLink="/tasks" routerLinkActive="active"
          >Tasks</a
        >
      </li>
      <li class="nav-item" *ngIf="!isAuthenticated">
        <a class="nav-link" routerLink="/auth" routerLinkActive="active"
          >Sign In/Up</a
        >
      </li>
      <li class="nav-item" *ngIf="isAuthenticated" (click)="onSignOut()">
        <a class="nav-link" routerLink="/auth" routerLinkActive="active"
          >Sign Out</a
        >
      </li>
    </ul>
  </div>
</nav>
